<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XX1QFCH39M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XX1QFCH39M');
    </script>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p>
        Contact: <a href="mailto:abhizer@abhizer.com">abhizer [at] abhizer.com</a><br>
        Github: <a href="https://github.com/abhizer">abhizer</a><br>
        Bsky: <a href="https://bsky.app/profile/abhizer.com">@abhizer.com</a><br>
        CV: <a href="docs/cvs/cv_academic.pdf">CV</a><br>
        Transcript: <a href="docs/transcripts/bachelors_transcript.pdf">Transcript<br>
        <a href="/blog">Blog</a>
        </p>

        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

      </header>
      <section>

        {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
